@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
$grey: #777;
$baseline: 1.75em;



html, body {
  font-family: 'VT323', monospace;
  font-family: 'Droid Sans Mono', monospace;
  background-color: #E5E3E3;
}

.header {
  height: 12vh;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: grey;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;

}
.header_title {
  color: white !important;
  text-shadow: 0 0 3px white, 0 0 10px blue;
}


.card {
  background-color: white;
  /*margin: 5px;*/
}

.list-group-item {
  background-color: #E5E3E3;
}


.wrapper:hover {
    background:rgba(0,0,0,0);
}

.wrapper:hover .expose {
    background:#ddd;
}

.entry-content {
    padding:6px;
}

.expose {
    margin-bottom:6px;
    padding:12px;
    border-radius:3px;
    background:#eee;
}

.expose:hover {
    background:#fff!important;
}