body {
  background-color: #595655;
}

.header {
  background-color: grey;
  height: 12vh;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header_title {
  /*background-color: pink;*/
}

.header_search {
  /*background-color: white;*/
}

.header_userauth {
  /*background-color: red;*/
}

.ticker {
  background-color: black;
  color: white;
}
.card {
  background-color: grey;
  margin: 10px;
}
