
html, body {
  font-family: 'VT323', monospace;
  font-family: 'Droid Sans Mono', monospace;
  background-color: #E5E3E3;
}

.header {
  /*height: 12vh;*/
  align-items: center;
  text-align: center;
  justify-content: center;
}


.header_logo {
  width: 60%;
  margin-top: 5px;
}

.card {
  background-color: white;
}

.card-block-top {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  justify-content: center;
}
.card-title {
  flex: auto;
}
.card-img-top {
  width: 20%;
  mix-blend-mode: multiply;
}

.list-group-item {
  background-color: #E5E3E3;
}


.wrapper:hover {
    background:rgba(0,0,0,0);
}

.wrapper:hover .expose {
    background:#ddd;
}

.entry-content {
    padding:6px;
}

.expose {
    margin-bottom:6px;
    padding:12px;
    border-radius:3px;
    background:#eee;
}

.expose:hover {
    background:#fff!important;
}

.modal-subheader{
    text-align: center;
    font-weight: 1900;

}

.data-container{

    text-align: right;
}