{% extends 'base.html' %}

  {% block  content %}


<div class="wrapper">
  <div class="row databox entry-content">

    {% for market in markets %}
    <div class="col-lg-4 col-md-6 col-xs-12 card expose">
      <div class="card-block">
        <h4 class="card-title">{{market.coin_name}} - {{market.coin_pair}}</h4>
        <img class="card-img-top" src="{{market.coin_logo}}" alt="{{market.coin_pair}}">
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Last Price: {{market.currency.last_price}}</li>
        <li class="list-group-item">Volume: {{(market.currency.base_volume * bitcoin.last_price)}}</li>
        <li class="list-group-item">24 High: {{market.currency.day_high}}</li>
        <li class="list-group-item">24 Low: {{market.currency.day_low}}</li>
        <li class="list-group-item">Bid {{market.currency.bid_price}}</li>
        <li class="list-group-item">Ask {{market.currency.ask_price}}</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {% endfor %}
<!-- 
    <div class="col-lg-4 col-md-6 col-xs-12 card expose" style="width: 20rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Ethereum</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12 card expose" style="width: 20rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Monero</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12 card expose" style="width: 20rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Neo</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block expose">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12 card expose" style="width: 20rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Nem</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12 card expose" style="width: 20rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Monero</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div> -->

  </div>
</div>
{% endblock %}
