{% extends 'base.html' %}

{% block  content %}


<div class="wrapper">
    <div class="row databox entry-content mx-3">

        {% for market in markets %}
        <div class="col-lg-4 col-md-6 col-xs-12 card expose mp-3">
            <div class="card-block-top">
                <h5 class="card-title">{{market.coin_name}} - {{market.coin_pair}}</h5>
                <img class="card-img-top" src="{{market.coin_logo}}" alt="{{market.coin_pair}}">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Last Price:</strong>
                    <small>${{"%.10f"|format(market.currency.last_price * bitcoin.last_price)}}</small>
                    <br> <i class="fa fa-btc" aria-hidden="true"></i> {{"%.10f"|format(market.currency.last_price)}}
                </li>
                <li class="list-group-item"><strong>Volume:</strong> </i> {{(market.currency.base_volume *
                    bitcoin.last_price) | round }}
                </li>
                <li class="list-group-item"><strong>24 High:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.day_high)}}
                </li>
                <li class="list-group-item"><strong>24 Low:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.day_low)}}
                </li>
                <li class="list-group-item"><strong>Bid:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.bid_price)}}
                </li>
                <li class="list-group-item"><strong>Ask:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.ask_price)}}
                </li>
            </ul>
            <div class="card-block-bottom">
                <br> <!--do a padding instead of break-->

                <!--where modal begins-->


                <a href="#" class="btn btn-lg btn-primary" data-toggle="modal"
                   data-target="#largeModal">Spread</a>


                <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Spread</h4>
                            </div>
                            <div class="modal-body">
                                <!--<h3>This is where Jinja will render the data</h3>-->

                                <div class="table-responsive">
                                    <table class="table">
                                        <div class="row">
                                    <div class="col-md-6 modal-subheader">Bid
                                         </div>
                                    <div class="col-md-6 modal-subheader">Ask
                                         </div>
                                            </div>

                                        <tr>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{"%.10f"|format(market.currency.ask_price)}}</th>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{"%.10f"|format(market.currency.ask_price)}}</th>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{"%.10f"|format(market.currency.ask_price)}}</th>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                            <td>{{"%.10f"|format(market.currency.ask_price)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>

                </div>

                <!--where modal ends-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
